.vscode/
.DS_Store

node_modules/
plugins/
phonegap-facebook-plugin/

*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

platforms/android/ant-build
platforms/android/ant-gen

platforms/android/gen
platforms/android/out

platforms/android/build

frontend/hooks/after_prepare/010_add_platform_class.js
