<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-floating-button click="takeImage()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <div class="list">
      <a ng-repeat="recipe in recipes" class="item item-thumbnail-left" ng-click="gotoRecipe({{recipe}})">
        <img ng-src="{{recipe._source.image}}">
        <h2>{{recipe._source.name}}</h2>
		<i class="icon ion-spoon"></i> {{recipe._source.desc}}
      </a>
	</div>
  </ion-content>
</ion-view>